<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" /><!--모바일페이지크기조절메타태그-->
    <title>Fundi'Go download page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    
    <style rel="stylesheet" type="text/css">
      .h4_st{
        margin-top: 180px;
        margin-left: 30px;
      }
      .a_st{
        margin-left: 40px
      }
    </style>
  </head>
  
  <body>
    <div style="margin:auto;">
      <div style="margin:auto">
        <img src="/static/images/fundigo_logo.jpg" style="display:block; margin-left:auto;margin-right:auto;">
      </div>
      <div style="width:150px; margin:auto; ">
        <h4 class="h4_st">Fundi'Go 백서</h4>
        <a class="a_st" href="/static/files/FundiGo_whitepaper.pdf" download>Download</a>
      </div>
    </div>
  </body>
</html>